body {
  background-color: gold;
  margin: 10% 20%;
}

h1 {
  color: black;
  font-size: 44px;
  font-family: Courier New;
  text-align: center;
}

h2 {
  color: black;
  font-size: 20px;
  font-family: Courier New;
  text-align: center;
  margin-right: 20px
}

p {
  font-size: 20px;
  font-family: Courier New;
}

h3 {
  color: black;
  font-size: 35px;
  font-family: Impact;
  background-color: silver;
  margin-right: 15px;
}

h4 {
  font-size: 35px;
  font-family: Impact;
  background-color: white;
  margin-right: 10px;
}

h5 {
  font-size: 25px;
  font-family: Impact;
 }

h6 {
  font-size: 20px;
  font-family: Impact;
}

.header {
  background-color: white;
  border: 5px solid black;
  color: black;
  padding-left: 10px;
  margin-left:10px;
}

.exp-header {
  text-align: center;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  background-color: (0,0,0, 0.5)
}

div {
  border: 3px solid white;
  padding-left: 10px;
  margin-right: 10px;
}

/* The animation code */
@keyframes example {
  from {background-color: gold;} to {background-color: purple;}
}

/* The element to apply the animatioon to */
div {
  background-color: gold;
  animation-name: example;
  animation-duration: 10s;
}

img {
  width: 200px;
}
